<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="48999YasserElsayed.MightyTicTacToe" Publisher="CN=2632852D-AC3F-4114-A680-4D43F4202B65" Version="1.1.0.6" />
  <Properties>
    <DisplayName>Mighty Tic Tac Toe</DisplayName>
    <PublisherDisplayName>S. Alsisan &amp; Y. Elsayed</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Mighty_Tick_Tac_Toe.WindowsPhone.App">
      <m3:VisualElements DisplayName="Mighty Tick Tac Toe" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="Mighty Tic Tac Toe takes a strategic twist over the conventional game. The players compete over 9 traditional boards of Tic-Tac-Toe, which themselves comprise a bigger game. The rules for winning each of the boards are the same as the traditional game, but the twist is that a player's move in a certain cell dictates the board where the next player has to play, which corresponds to the location of this cell. If the next player is dictated to play in a board that has already been won or is full, the player can instead decide where to play in any of the boards." ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
        <m3:ApplicationView MinWidth="width320" />
        <!--Used in XAML Designer. DO NOT REMOVE-->
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>